workflowDriver=com.mysql.jdbc.Driver
workflowUrl=jdbc\:mysql\://${DB_HOST}\:${DB_PORT}/${DB_NAME}?characterEncoding\=UTF-8
workflowUser=${DB_USERNAME}
workflowPassword=${DB_PASSWORD}
profileName=default